/* All */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    background-color: black;
    color: #00ee00;
}

html, body {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    font-family: "Share Tech Mono", monospace;
}

a {
    text-decoration: none;
    padding: 0 5px;
}

li {
    text-align: justify;
    padding: 0.5rem;
    list-style: none;
}

#menuburger a:hover {
    background-color: #00ee00;
    color: black;
}

#message {
    margin: 5vh 0;
}

#main {
    max-height: 10vh;
    position: relative;
    margin: 0;
    padding: 0;
}

#persos {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.perso {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    margin: 1vh 0;
}

#valid {
    border-color: #00ee00;
    margin: 2vh;
}

h2,
h3 {
    margin-bottom: 2vh;
}

article {
    margin: 4vh auto;
    border: solid;
    padding: 3vh;
    overflow: auto;
    max-height: 85vh;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto 1rem;
    align-items: center;
    border-bottom: solid #00ee00;
}

#btnburger {
    max-height: 10vh;
}

#menuburger {
    display: none;
    flex-direction: row;
    position: absolute;
    align-items: flex-end;
    width: 100%;
    justify-content: space-around;
    top: 105%;
    border-bottom: #00ee00 solid;
}

#menuburger.show {
    display: flex;
}

main {
    margin: 5vh 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.liens {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2vh;
}

.liens a {
    margin: 2vh;
}

#worldmap:hover {
    transition: 1s;
    transform: scale(1.75);
    position: relative;
    top: 5vh;
    left: 2vh;
}

#login {
    visibility: hidden;
    width: min-content;
    justify-self: center;
}

span {
    font-weight: bolder;
}

.img {
    margin: 2vh;
    max-width: 95%;
    max-height: 70vh;
    border: #00ee00 solid;
    justify-self: center;
    object-fit: contain;
}

.regles {
    border: solid #00ee00;
    margin: 2vh;
    color: #91f086;
    text-align: center;
}

.regles ul {
    margin: 2vh;
    list-style-type: none;
    border: 1px #00ee00 solid;
}

table {
    justify-self: center;
}

td {
    border: 1px solid #005500;
}

section {
    border: solid;
    margin: 2vh auto;
    justify-items: center;
    padding: 2vh;
    max-height: 90vh;
    overflow-y: auto;
}

footer {
    text-align: center;
    border-top: #00ee00 solid;
    padding: 2vh;
}

.Feuille {
    width: 20vh;
    margin: 0 0 4vh 0;
}

#progress-container {
    width: 100%;
    background-color: #ccc;
    height: 2vh;
    border-radius: 10px;
}

#progress-bar {
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
}

#NukaCola {
    width: 50%;
    justify-self: center;
}

#game_menu {
    position: fixed;
    top: 25%;
    right: 1rem;
    transform: translateY(-50%);
    background:none;

}

#menu {
  max-height: 0;         
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 2px solid #00ee00;
  border-radius: 5px;
  padding: 0 1rem;    
  transition: max-height 0.4s ease, padding 0.4s ease, opacity 0.3s ease;
  opacity: 0;
}

#menu.open {
  max-height: 600px;     
  padding: 1rem;         
  opacity: 1;
}

#game_menu svg .pipboy {
  fill: none;
  stroke: #3cff6b;
  stroke-width: 3;
  stroke-linecap: square;
  stroke-linejoin: bevel;
}



/* FO Main */
#Cover {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

/* FO Résumé */
.cards {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    height: 60vh;
}

.cards article {
    flex: 0 0 80%;
    scroll-snap-align: start;
    padding: 16px;
    margin: 3rem 1rem 1rem;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.container article {
    margin: 2vh 0;
    height: 25vh;
}

.poll {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.forum {
    width: 100%;
}

/* Calendrier */

#Votesubmit {
    border: #005500 2px solid;
    padding: 2px;
    margin: 1dvh auto;
}

/* Media queries mobile */
@media (hover: none) {
    a {
        text-decoration: underline;
    }
}

/* Media queries desktop */
@media screen and (min-device-width: 801px) {

    /* All */

    * {
        font-size: 1rem;
    }

    #main {
        max-width: 200px;
    }

    #btnburger {
        display: none;
    }

    #menuburger {
        display: flex;
        position: relative;
        margin: auto 1rem;
        align-content: flex-end;
    }

    header {
        border-bottom: none;
    }

    .selected {
        border-left: #00ee00 3px solid;
        border-right: #00ee00 3px solid;
    }

    .liens {
        grid-column: 1 / 2;
        justify-self: center;
        align-self: center;
    }

    .liens a:hover {
        background-color: #00ee00;
        color: black;
    }

    .regles {
        grid-column: 1 / 5;
        grid-row: 5;
    }

    .img {
        max-width: 50%;
        grid-column: 1 / 2;
        justify-self: center;
        align-self: center;
    }

    main {
        display: grid;
        margin: 1rem;
    }

    img:nth-of-type(2) {
        grid-column: 2;
    }

    img:nth-of-type(1) {
        grid-column: 1 / 3;
    }

    #Cover {
        max-width: 60%;
        justify-self: center;
    }

    .citation {
        grid-column: 1 / 4;
        border: 2px solid;
    }

    .intro {
        grid-column: 3;
    }

    /* FO Résumé */

    .cards article {
        flex: auto;
    }

    /* FO Timeline */
    .container {
        display: grid;
        grid: auto-flow 1fr / repeat(6, 1fr);
        gap: 1rem;
    }

    .container article {
        margin: 0;
        padding: 1rem;
        overflow: auto;
    }

    /* FO Calendrier */
    .social {
        display: flex;
    }

    #persos {
        display: grid;
    }
}

@media screen and (min-device-width: 801px) {
    .regles {
        grid-row: 1 / 3;
        grid-column: 5;
    }
}