/* All */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #532A13;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Share Tech Mono", monospace;
  background-color: #ECE8D6;
}

#logo {
  max-width: 100px;
}

#btnburger {
  max-width: 100px;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto 1rem;
  align-items: center;
  border-bottom: solid #AC302B;
}

#menuburger {
  display: none;
  font-size: 1.5rem;
  flex-direction: row;
  position: absolute;
  align-items: flex-end;
  width: 100%;
  justify-content: space-around;
  top: 95%;
}

#menuburger.show {
  display: flex;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 53px;
  color: #532A13;
  /* texte principal */
  font-size: 0.9rem;
  padding: 0;
  line-height: 1;
}

/* Hover */
.menu-link:hover {
  background-image: url("../icons/Button.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.8s;
}

/* Selected */
.menu-link.selected {
  background: url("../icons/Selected.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* --- LOGIN --- */

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

form input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #AC302B;
  /* bordure */
  border-radius: 6px;
  background-color: #DDD7D8;
  /* background secondaire */
  color: #532A13;
  /* texte principal */
  font-size: 1rem;
}

form button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  background-color: #AC302B;
  /* bouton */
  color: #ECE8D6;
  /* contraste lisible */
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

form button[type="submit"]:hover {
  background-color: #532A13;
  color: #ECE8D6;
}

#Galactic {
  width: 20%;
  margin: 10dvh;
}

footer {
  margin: 1dvh;
}


#game_menu {
    position: fixed;
    top: 25%;
    right: 1rem;
    transform: translateY(-50%);
    background:none;

}

#menu {
  max-height: 0;         
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 2px solid #00ee00;
  border-radius: 5px;
  padding: 0 1rem;    
  transition: max-height 0.4s ease, padding 0.4s ease, opacity 0.3s ease;
  opacity: 0;
}

#menu.open {
  max-height: 600px;     
  padding: 1rem;         
  opacity: 1;
}

#game_menu svg .pipboy {
  fill: none;
  stroke: #3cff6b;
  stroke-width: 3;
  stroke-linecap: square;
  stroke-linejoin: bevel;
}

/* --- MAIN --- */
.citation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5dvh 40vw;
  border: solid #AC302B;
  padding: 1em;
}

.principal {
  display: flex;
  flex-direction: column;
  margin: 5dvh;
}

.intro {
  margin-bottom: 5dvh;
}

#Cover {
  width: 60%;
  align-self: center;
}

/* --- COMMLINK --- */
.comms {
  display: flex;
  flex-direction: column;
}

#dateSelected {
  border: none;
  grid-row: 1;
}

.comms article {
  margin: 1dvh auto;
  border: solid #AC302B;
  padding: 0.5dvh 0.3em;
  align-items: center;
}

.comms article h1 {
  margin-bottom: 1dvh;
}

.pollChoices #voteSumbit {
  display: block;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  background-color: #AC302B;
  color: #ECE8D6;

  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.pollChoices #voteSubmit:hover {
  background-color: #532A13;
  color: #ECE8D6;
}

.forum {
  grid-column: 2;
}

.pollChoices {
  grid-column: 1;
  grid-row: 2;
}

#voteResults {
  grid-column: 2;
}

#pic {
  grid-row: 3;
  grid-column: 1 / 3;
}



#chatbox {
  text-align: center;
  padding: 1dvh;
  margin: 0 10dvw;
  border: 5px solid #AC302B;
  background-color: #DDD7D8;

}

#message {
  width: 100%;
  margin: 2dvh auto
}

#dateSelected {
  position: relative;
  width: 100%;
  height: 22dvh;
  background: url("/Universes/SW/icons/Next.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;

}

#dateSelected h1 {
  font-size: 1rem;
}

#Votesubmit {
  justify-self: center;
  border: #680c0a 1px solid;
  padding: 5px;
}

textarea {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #AC302B;
  background-color: #DDD7D8;
  color: #532A13;
  font-size: 1rem;
}

textarea::placeholder {
  color: #0F0E13;
  opacity: 1;
  font-style: italic;
}

textarea:focus {
  border-color: #532A13;
  outline: none;
}

#pic {
  max-width: 640px;
  align-self: center;
  justify-self: center;
}

/*  --- DATA --- */
#list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 5dvh;
}

#list ul {
  list-style: none;
}

#list li {
  padding: 1em;
}

#list li img {
  width: 75px;
  height: 75px;
  vertical-align: middle;
  margin: 0 2rem;
}

#illu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5dvw;
  justify-self: center;
  align-items: center;
}

#illu img {
  margin: 2dvh 0;
  max-width: 200px;
  border-radius: 50%;
  animation: float 5s infinite alternate ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) rotate(5deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

/* --- GROUPE --- */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 1dvh;
}

.container img {
  width: 500px;
  border: #AC302B 2px solid;
  border-radius: 5%;
}

.card {
  background: #DDD7D8;
  border: 2px solid #AC302B;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(172, 48, 43, 0.5);
  transition: 0.3s;
  margin: 2dvh 1dvw;
}

.card-title {
  color: #AC302B;
}

.status span {
  display: block;
  margin: 0.2rem 0;
}

.online {
  color: #5c6237;
}

.offline {
  color: #680c0a;
}

.neutral {
  color: #532A13;
}

.bar-container {
  width: 100%;
  height: 22px;
  border: 1px solid #AC302B;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.bar {
  height: 100%;
  background: #AC302B;
  color: #ECE8D6;
  font-size: 0.75rem;
  text-align: center;
  line-height: 22px;
}

@keyframes sw-pulse {
  0% {
    box-shadow: 0 0 5px rgba(172, 48, 43, 0.4);
  }

  50% {
    box-shadow: 0 0 10px rgba(172, 48, 43, 1);
  }

  100% {
    box-shadow: 0 0 5px rgba(172, 48, 43, 0.4);
  }
}

.card:hover {
  animation: sw-pulse 1.6s infinite;
}

/* --- TIMELINE */

#time {
  display: flex;
  flex-direction: column;
}

#timeline ul {
  list-style-type: none;
}


/* Media queries mobile */
@media (hover:none) {
  a {
    text-decoration: underline;
  }
}

/* Media queries desktop */

@media screen and (min-device-width: 500px) {
  .comms {

    display: grid;
    grid-template-columns: 1fr 1fr
  }
}

@media screen and (min-device-width: 801px) {

  * {
    font-size: 1rem;
  }

  #btnburger {
    display: none
  }

  #menuburger {
    display: flex;
    position: relative;
    margin: 0;
  }

  /* --- MAIN --- */

  .principal {
    display: grid;
  }

  .intro {
    grid-column: 2;
    padding: 2rem;
    width: 25dvw;
    margin: 20dvh 5dvw;
  }

  #Cover {
    grid-column: 3;
  }

  /* --- DATA --- */
  #data {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #list {
    justify-content: center;
    margin: 5dvh 5dvw;
  }

  #illu {
    gap: 1rem;
  }

  #illu img {
    max-width: 600px;
  }

  /* ===== COMMMS ===== */

  #dateSelected {
    height: 44dvh;
  }

  /* --- GROUPE --- */

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    gap: 1rem;
    justify-items: center;
    align-items: start;
    padding: 2rem;
  }

  .container>div:first-child {
    grid-column: 1 / -1;
    text-align: center;
  }

  .card {
    width: 100%;
    max-width: 300px;
  }
}

/* --- TIMELINE --- */
#time {
  display: grid;
  grid-auto-flow: column;
}

#resume .card {
  max-width: 95%;
}